* {
    text-align: center;
    font-size: 20px;
    background: #D79922;
    color: #EFE2BA;
    font-family:'Open Sans', sans-serif;
}

h1 {
    font-weight: 700;
}

p {
    font-weight: 300;
}

.container-fluid {
    PADDING: 15% 30% 10% 30%;
}


.btn-primary {
    background: #EFE2BA; 
    border-color: #EFE2BA;
    color: #D79922;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #D79922;
    border-color:#EFE2BA;
    color:#EFE2BA;
}
 




