* {
    text-align: center;
    font-size: 20px;
    font-family:'Open Sans', sans-serif;
}

h1 {
    font-weight: 800;
    letter-spacing: 0.2rem;
}

h2 {
    font-weight: 700;
    text-align: left;
}

h3 {
    text-align: left;
    font-weight: 300;
    font-size: 1.6rem;
    padding: 1.6rem;
}

/* BODY STYLIZATION */

p {
    font-weight: 300;
}

.container-fluid {
    padding: 13% 25% 25% 25%;
}

/* ANSWER STYLIZATION */

.btn-choice {
    background: #D79922;
    border-color:#EFE2BA;
    color: #EFE2BA;
}

.btn-choice:hover {
    background: #EFE2BA;
    border-color:#EFE2BA;
    color: #D79922;
}

/* BUTTON STYLIZATION */

.btn-primary {
    background: #EFE2BA; 
    border-color: #EFE2BA;
    color: #D79922;
    padding: 1rem;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #D79922;
    border-color:#EFE2BA;
    color:#EFE2BA;
}
 




